{% extends "template.html" %}
{% block content %}
    <div class="jumbo">
        <h1 id="head">ВТОРАЯ страница СУКА</h1>
        <br>
        <input type="text" id="nick">
        <input type="button" id="ok" value="press">
        <br>
        <p id="answer"></p>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script type="text/javascript" charset="utf-8">

            var socket=io('http://'+document.domain+':'+location.port);
            var my_id;
            var lastTime=0;
            socket.on('connect',function () {

            });
            window.onunload = function()
            {
                //socket.disconnect();
                alert('disconnect');
                socket.emit('mydisconnect',JSON.stringify({id:my_id}));
                return confirm('Вы хотите покинуть сайт?')
            }
            window.onbeforeunload = function(){
                //socket.disconnect();
                alert('disconnect');
                socket.emit('mydisconnect',JSON.stringify({id:my_id}));
                return confirm('Точно хотите выйти?');
            }
            socket.on('users_list',function (data) {
                var list=JSON.parse(data);
                console.log(list);
                $("#answer").html('Пользователей в сети '+list['number']);
            });

            socket.on('my_id',function (data) {
                var json=JSON.parse(data);
                my_id=json['id'];
                $('#head').append(' id: '+my_id);
            });

            socket.on('go_disconnect',function (data) {
                socket.disconnect();
            });

            $('#ok').click(function () {
                var nick=$('#nick').val();
                sendInfo(socket,nick);

            });



            function sendInfo(socket,nick) {
                socket.emit('info',JSON.stringify({name:nick}));

            }
            function getUsers(socket){
                socket.emit('get_users','');

            }
            function imHere(socket) {
                lastTime=Date.now();
                socket.emit('i_am_here',JSON.stringify({id:my_id,time:lastTime}));
            }
            var timerPinger=0;
            var timerGetUsers=0;
            setInterval(function () {
                timerPinger+=1;
                timerGetUsers+=1;
                if(timerGetUsers>400){
                    console.log('getUSERs');
                    getUsers(socket);
                    timerGetUsers=0;
                }
                if(timerPinger>200){
                    console.log('ping!');
                    imHere(socket);
                    timerPinger=0;
                }
            },10);
        </script>
    </div>


{% endblock %}